<!DOCTYPE html>
<html>
<head>
  <title>Recipe Finder</title>
</head>
<body>

<h1>Recipe Finder</h1>

<div class="form-container">
  <%= form_with url: recipes_path, method: :get, local: true do %>
    <label>What ingredients do you have? (comma separated):</label>
    <%= text_field_tag :ingredients, params[:ingredients] %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>

<h2>Recommended Recipes</h2>
<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <strong><%= recipe.name %></strong>: <%= recipe.description %><br>
      <img src="<%= recipe.image %>" alt="<%= recipe.name %>"><br>
      <p>
        <strong>Ratings:</strong> <%= recipe.ratings %><br>
        <strong>Category:</strong> <%= recipe.category %><br>
        <strong>Author:</strong> <%= recipe.author %><br>
        <strong>Your Matching Ingredients:</strong> <%= recipe.matching_fraction %>
      </p>
    </div>
  <% end %>
</div>

</body>
</html>
